<!DOCTYPE html>
<html lang="pl">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - E-WARSZTAT</title>
   <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   <link rel="stylesheet" href="~/css/site.css" />
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   <header>
      <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow" style="border-bottom:3px solid red;">
         <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img alt="logo" src="~/images/logo.png" width="50" height="50">E-WARSZTAT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ml-5">
               <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item">
                     <a class="nav-link text-dark" asp-area="" asp-page="/Index" style="font-size:20px;">Start</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link text-dark" asp-area="" asp-page="/ServiceList/Index" style="font-size:20px;">Zgłoszone usługi</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <div class="containerFull">
      <main role="main" class="pb-3">
         @RenderBody()
      </main>
   </div>

   <footer class="footer">
      <div class="container">
         &copy; 2020 - E-WARSZTAT - <a href="mailto:patryk@dublinowski.pl" style="color: #0366d6">patryk@dublinowski.pl</a>
      </div>
   </footer>

   <script src="~/lib/jquery/dist/jquery.min.js"></script>
   <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
   <script src="~/js/site.js" asp-append-version="true"></script>
   <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
   <script src="https://cdnjs.cloudfare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
   <script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   @RenderSection("Scripts", required: false)
</body>
</html>
