@page
@model CarServiceClients.Pages.ClientList.IndexModel

<br />
<div class="container row p-0 m-0">
   <div class="col-9">
      <h2 class="text-info">Lista klientów</h2>
   </div>
   <div class="col-3">
      <a asp-page="Create" class="btn btn-info form-control text-white">Dodaj nowego klienta</a>
   </div>

   <div class="col-12 border p-3 mt-3">
      <form method="post">
         @if (Model.Clients.Count()>0)
         {
            <table class="table table-striped border">
               <tr class="table-secondary">
                  <th>
                     <label asp-for="Clients.FirstOrDefault().Name">Nazwa klienta</label>
                  </th>
                  <th>
                     <label asp-for="Clients.FirstOrDefault().Car">Samochód</label>
                  </th>
                  <th>
                     <label asp-for="Clients.FirstOrDefault().Status">Status</label>
                  </th>
                  <th>

                  </th>
               </tr>
               @foreach (var client in Model.Clients)
               {
                  <tr>
                     <td>
                        @Html.DisplayFor(m => client.Name)
                     </td>
                     <td>
                        @Html.DisplayFor(m => client.Car)
                     </td>
                     <td>
                        @Html.DisplayFor(m => client.Status)
                     </td>
                     <td>
                        <button class="btn btn-danger btn-sm">Usuń</button>
                        <a asp-page="Edit" asp-route-id="@client.Id" class="btn btn-success btn-sm text-white">Edytuj</a>
                     </td>
                  </tr>
               }
            </table>
         }
         else 
         {
            <p>Brak wprowadzonych klientów</p>
         }
      </form>
   </div>


</div>


